/*  your css code here. If applicable */
/* body{
	position:relative;
	width:100vw;
	height:100vh;
} */
#line{
	width:200px;
	height:2px;
	position:absolute;
	top:50%;
	left:50%;
	background-color:black;
	transform:translate(-50%,-50%);
}